@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    font-size: 16px;
   /* here we can declare custom style variables. see https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-custom-properties */
  }

body{
    margin: 0px;
}

#container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

/* left hand side of the page */
#lpanel {
    min-height: 100vh;
    min-width: 40vw;
    background: no-repeat url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#logoContainer {
    margin-top: 20vh;
    height: 11.5vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 7vh;
    background: rgba(0,0, 0, 0.4)
    
    
}
/* img {
    height: 10vh;
    max-width: auto;
} */

#llogo {
    min-height: 10vh;
    width: 5vw;
    background: no-repeat url(odin-lined.png);
    background-size: contain;
    opacity: 1;
}
#logoText {
    height: 10vh;
    line-height: 11.5vh;
    color: white;
   
}

/* right hand side of the page */
#rpanel {
min-height: 100vh;
min-width: 60vw;
background-color: whitesmoke;
}

#rpanel>h1,
#rpanel>form,
#rpanel>div,
#rpanel>h4 {

    padding-left: 5vh;

}

h1 {
    margin: 10vh 0vh 7vh 0vh;
}
h1,
legend {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5em;
   

    
}

button {
    background-color: #596D48;
    color: whitesmoke;
    border: none;
    font-size: 1.2rem;
    margin-top: 5vh;
    padding: 1rem 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 7px #c5c3c3;
}
form {
    background-color: white;
    font-family: sans-serif;
    padding: 4vh 0vh 4vh 0vh;
    box-sizing: border-box;
    border: none;
    box-shadow: 4px 4px 7px #c5c3c3;

}
fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}
h4 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 2vh;
}

a {
    color: #596D48;
    text-decoration: none;
}

/* experimenting with form styling */
#input-container {
    float: left;
    margin-top: 3vh;
    margin-right: 5vw;
   
}



input, label {
    display:block;
}
label {
    font-size: 0.75rem;
    letter-spacing:2px;
    text-transform: capitalize;
}
input,
select,
textarea {
  font-size: 100%;
  width: 250px;
  border:1px solid #E5E7EB;
  border-radius: 4px;
  padding: 4px;
  margin: 4px 0px 0px 0px;
  box-sizing: border-box;
}

.error
{
    border:1px solid red

}



input:focus{
background-color:rgb(248, 247, 247);
border:1px solid blue;
box-shadow: 4px 4px 7px #c5c3c3;
}

