@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {

   /* here we can declare custom style variables. see https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-custom-properties */
  }

body{
    margin: 0px;
}

#container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

/* left hand side of the page */
#lpanel {
    min-height: 100vh;
    min-width: 40vw;
    background: no-repeat url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#logoContainer {
    margin-top: 20vh;
    height: 10vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 7vh;
    background: rgba(0,0, 0, 0.4)
    
    
}
/* img {
    height: 10vh;
    max-width: auto;
} */

#llogo {
    height: 10vh;
    width: 6vw;
    background: no-repeat url(odin-lined.png);
    background-size: contain;
    opacity: 1;
}
#logoText {
    height: 10vh;
    line-height: 10vh;
    color: white;
   
}

/* right hand side of the page */
#rpanel {

}