@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {

   /* here we can declare custom style variables. see https://www.theodinproject.com/lessons/node-path-intermediate-html-and-css-custom-properties */
  }

body{
    margin: 0px;
}

#container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

/* left hand side of the page */
#lpanel {
    min-height: 100vh;
    min-width: 40vw;
    background: no-repeat url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#logoContainer {
    margin-top: 20vh;
    height: 10vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 7vh;
    background: rgba(0,0, 0, 0.4)
    
    
}
/* img {
    height: 10vh;
    max-width: auto;
} */

#llogo {
    min-height: 10vh;
    width: 5vw;
    background: no-repeat url(odin-lined.png);
    background-size: contain;
    opacity: 1;
}
#logoText {
    height: 10vh;
    line-height: 11.5vh;
    color: white;
   
}

/* right hand side of the page */
#rpanel {
min-height: 100vh;
min-width: 60vw;
padding-left: 5vw;
background-color: whitesmoke;
}

h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0px;
    padding-top:12vh;
}

button {
    background-color: #596D48;
    color: whitesmoke;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 7px #c5c3c3;
}
form {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
fieldset {
    border: none;
}
h4 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-top: 2vh;
}

a {
    color: #596D48;
    text-decoration: none;
}